@model PagedList.IPagedList<H15_Projet_E01.Models.Seance>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, currentAttente = ViewBag.CurrentAttente })
        </th>
        <th>Heure</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Num. Téléphone</th>
        <th>Commentaire</th>
        <th>Forfait</th>
        <th>@Html.ActionLink("Agent", "Index", new { sortOrder = ViewBag.AgentSortParm, currentFilter = ViewBag.CurrentFilter, currentAttente = ViewBag.CurrentAttente })</th>
        <th>Statut</th>
        <th>Photographe</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.DateSeance == null)
            {
                <td>
                    <p>En</p>
                </td>
                <td>
                    <p> attente</p>
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DateSeance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeureSeance)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forfait.Nom)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Agent.Nom)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Statut.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photographe.NomComplet)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.SeanceID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SeanceID }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.SeanceID })
            </td>
        </tr>
    }

</table>