@model H15_Projet_E01.Models.Seance

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Êtes-vous sûr de la supprimer?</h3>
<div>
    <h4>Seance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateSeance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateSeance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeureSeance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeureSeance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Agent.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Agent.Nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
