@model PagedList.IPagedList<H15_Projet_E01.Models.Seance>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Les séances à venir";
}

<h2>Les séances à venir</h2>

<p>
    @Html.ActionLink("Demander une séance", "Create")
</p>

<ul>
    <li>@Html.ActionLink("Affichage brute", "Index", new { enAttente = "All", sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })</li>
    <li>@Html.ActionLink("Afficher seulement les séances en attente", "Index", new { enAttente = "Yes", sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })</li>
    <li>@Html.ActionLink("Afficher seulement les séances réservées", "Index", new { enAttente = "No", sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })</li>
</ul>


@using (Html.BeginForm("Index", "Seances", FormMethod.Get))
{
    <p>
        Recherche par le nom d'agent: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Rechercher" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter, currentAttente = ViewBag.CurrentAttente })
        </th>
        <th>
            Heure
        </th>
        <th>
            Adresse
        </th>
        <th>
            Ville
        </th>
        <th>
            Num. Téléphone
        </th>
        <th>
            Commentaire
        </th>
        <th>
            Forfait
        </th> 
        <th>
            FactureId
        </th> 

        <th>
            @Html.ActionLink("Agent", "Index", new { sortOrder = ViewBag.AgentSortParm, currentFilter = ViewBag.CurrentFilter, currentAttente = ViewBag.CurrentAttente })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.DateSeance == null)
        {
            <td>
                <p>En attente</p>
            </td>
            <td>
                <p>En attente</p>
            </td>
        }
        else
        {
        <td>
            @Html.DisplayFor(modelItem => item.DateSeance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeureSeance)
        </td>
        }
       

        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Forfait.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactureID)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Agent.Nom)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.SeanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeanceID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.SeanceID })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))