@model PagedList.IPagedList<H15_Projet_E01.Models.Seance>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Les séances à venir";
}

<h2>Les séances à venir</h2>

<p>
    @Html.ActionLink("Demander une séance", "Create")
</p>

<ul>
    <li>@Html.ActionLink("Affichage brute", ".")</li>
    <li>@Html.ActionLink("Afficher seulement les séances en attente", ".", new { enAttente = true })</li>
    <li>@Html.ActionLink("Afficher seulement les séances réservées", ".", new { enAttente = false })</li>
</ul>



<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Heure
        </th>
        <th>
            Adresse
        </th>
        <th>
            Ville
        </th>
        <th>
            Num. Téléphone
        </th>
        <th>
            Commentaire
        </th>
        <th>
            FactureId
        </th> 
        <th>
            Agent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.DateSeance == null)
        {
            <td>
                En attente
            </td>
             <td>
                 En attente
            </td>
        }
        else
        {
        <td>
            @Html.DisplayFor(modelItem => item.DateSeance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeureSeance)
        </td>
        }
       

        <td>
            @Html.DisplayFor(modelItem => item.Adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ville)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FactureID)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Agent.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeanceID })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))