@{
    ViewBag.Title = "À propos";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>
<h3>@ViewBag.TitleHDR</h3>
<p>@ViewBag.MessageHDR</p>
<h3>@ViewBag.TitleOffre</h3>
<p>@ViewBag.MessageOffre</p>

<address>
    Site Web : <a href="www.guyduval.ca">www.guyduval.ca</a><br />
    <abbr title="Téléphone">Tel:</abbr>
    438 880-4626
</address>

<address>
    <strong>Courriel:</strong>   <a href="mailto:info@guyduval.ca">info@guyduval.ca</a><br />
</address>