@model H15_Projet_E01.Models.Agent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>
</div>



@if (Model.Seances != null)
{
    <h3>Seances:</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th># telephone</th>
            <th>Commentaire</th>
            <th>Forfait</th>
        </tr>

        @foreach (var seance in Model.Seances)
        {
            if (seance.DateSeance != null && seance.DateSeance.Value.Year == DateTime.Now.Year)
            {
                <tr>
                    <td>@seance.DateSeance.Value.Date.ToString("yyyy-MM-dd") @seance.HeureSeance.Value.TimeOfDay</td>
                    <td>@Html.DisplayFor(modelItem => seance.Adresse)</td>
                    <td>@Html.DisplayFor(modelItem => seance.Ville)</td>
                    <td>@Html.DisplayFor(modelItem => seance.Telephone)</td>
                    <td>@Html.DisplayFor(modelItem => seance.Commentaire)</td>
                    <td>@Html.DisplayFor(modelItem => seance.Forfait.Nom)</td>
                </tr>
            }


        }
    </table>
}

@if (ViewBag.Notifications != null)
{
    <h3>Notifications:</h3>
    <table>
        <tr>
            <th>Date</th>
            <th>Statut</th>
        </tr>

        @foreach (var notif in ViewBag.Notifications)
        {
            <tr>
                <td>@notif.DateNotification</td>
                <td>@notif.Statut.Nom</td>
            </tr>

        }
    </table>
}

<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.AgentID }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
